@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Roboto&display=swap');
*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 245px 245px 250px;
  background-color: #231F20;
  grid-gap: 2px;
  padding: 2px;
  border-radius: 8px;
  position:relative;
  transition: 0.1s;
} 

.myButtons{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: hsl(214.9,90.9%,80%);
  font-size: 50px;
  font-weight: bold;
}

.myButtons:active{
  background: transparent;
  border: 1px solid hsl(214.9,90.9%,80%);
  color: hsl(214.9,90.9%,80%);
}

.lblClass{
  display: block;
  width: 250px;
  height: 120px;
  background-color:hsl(214.9,7%,90.5%);
  position: absolute;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  visibility: hidden;
  box-shadow: 0 0 4px 0.8px rgba(0,0,0,0.1);
  transition: left 0.3 ease;
}

.lblClass button{
  border: 1px solid red;
  background: transparent;
  color: red;
  outline: none;
  padding: 10px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.lblClass button:active{
  background-color: red;
  color: white;
}


#lbl{
  display: block;
  color: black;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
